[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"

[packages]
fastapi = "*"
uvicorn = "*"
aiosqlite = "*"
sqlalchemy = "*"
passlib = "*"
email-validator = "*"

[requires]
python_version = "3.8"
